<div>
    <h1>
        <img src= " {{ 'xsell.png' | asset_url}}" />
        <span>Electronics</span>
    </h1>
</div>
{% schema %}
{
    "name": "Hero",
    "presets": [
        {
        "name": "Hero"
        }
    ]
}
{% endschema %}